<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Schoolbell' rel='stylesheet'>

  <title>How much?</title>
</head>
<body>
  <div class="title">
    How much of the year has passed?
  </div>

  <div class="percentage">
  {{ format_stryear }}%
  </div>
  

  <br>


  <div class="graph">
  {{ graphd }}{{ graphw }}
  </div>
</body>
</html>